name: Lint
on:
  push:
    branches:
      - v2
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.1'
          cache: true
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          args: --config=.github/lint/.golangci.yml